.login-form {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);

    grid-row-gap: 0.5em;
    grid-template-areas: 
    "email-text email-value"
    "pass-text pass-value"
    "remember remember";

    .login-email-text {
        grid-area: email-text;
    }

    .login-email-value {
        grid-area: email-value;
    }

    .login-pass-text {
        grid-area: pass-text;
    }

    .login-pass-value {
        grid-area: pass-value;
    }

    .login-remember {
        grid-area: remember;
    }
}
