<form novalidate name="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <nb-card accent="primary">
        <nb-card-header>Autentificare</nb-card-header>
        <nb-card-body>
            <div class="login-form">
                <div class="login-email-text">
                    <span>E-mail</span>
                </div>
                <div class="login-email-value">
                    <input type="text" nbInput fullWidth status="basic"formControlName="email" [ngClass]="{'is-invalid': (loginForm.get('email').touched || loginForm.get('email').dirty) && ! loginForm.get('email').valid }">
                </div>
                <div class="login-pass-text">
                    <span>Parolă</span>
                </div>
                <div class="login-pass-value">
                    <input type="text" nbInput fullWidth status="basic" type="password" formControlName="password" [ngClass]="{'is-invalid': (loginForm.get('password').touched || loginForm.get('password').dirty) && ! loginForm.get('password').valid }">
                </div>
                <div class="login-remember">
                    <nb-checkbox formControlName="rememberMe">Menține-mă autentificat</nb-checkbox>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton type="submit" style="margin-right: 1em;" status="primary" [disabled]="loginForm.invalid">Autentificare</button>
            <button right nbButton outline size="medium" status="basic" (click)="onCancel()">Renunță</button>
        </nb-card-footer>
    </nb-card>
</form>