<nb-card *ngIf="offer" accent="primary">
    <nb-card-header style="position: relative;">
        {{ offer?.title }}
        <nb-badge text="Bid-uri active: {{ bidCount }}" status="danger" position="top right"></nb-badge>
    </nb-card-header>
    <nb-card-body>
        <div class="offer-detail">
            <div class="offer-detail-description">
                <h6>{{ offer?.description }}</h6>
            </div>
            <div class="offer-detail-photo">
                <img [src]="offer?.photoUrl" alt="no-image">
            </div>
            <div class="offer-detail-price">
                <p>Prețul de pornire este de {{ offer?.price }} lei</p>
                <p>Cantitatea este de {{ offer?.quantity }}</p>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <span>Expiră la {{ offer?.end | date: 'dd MMM yyyy' }}, ora {{ offer?.end | date: 'hh:mm' }}</span>
    </nb-card-footer>
</nb-card>

<form *ngIf="bidForm" novalidate name="bid-form" [formGroup]="bidForm" (ngSubmit)="onSubmit()">
    <nb-card accent="primary">
        <nb-card-header>Plasează oferta</nb-card-header>
        <nb-card-body>
            <div class="bid-form">
                <div class="bid-price-text">
                    <span>Preț unitar</span>
                </div>
                <div class="bid-price-value">
                    <input type="number" nbInput status="basic"formControlName="price" [ngClass]="{'is-invalid': (bidForm.get('price').touched || bidForm.get('price').dirty) && ! bidForm.get('price').valid }">
                </div>
                <div class="bid-qty-text">
                    <span>Cantitate</span>
                </div>
                <div class="bid-qty-value">
                    <input type="number" nbInput status="basic" formControlName="qty" [ngClass]="{'is-invalid': (bidForm.get('qty').touched || bidForm.get('qty').dirty) && ! bidForm.get('qty').valid }">
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton type="submit" style="margin-right: 1em;" status="primary" [disabled]="bidForm.invalid">Plasează</button>
            <button right nbButton outline size="medium" status="basic" (click)="onCancel()">Renunță</button>
        </nb-card-footer>
    </nb-card>
</form>