.offer-detail {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "description photo"
    "price photo";

    .offer-detail-price {
        grid-area: price;
    }

    .offer-detail-description {
        grid-area: description;
    }

    .offer-detail-photo {
        grid-area: photo;
        justify-self: right;

        img {
            border-radius: 5%;
        }

    }
}

.bid-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "price-text price-value"
    "qty-text qty-value";
    grid-gap: 0.5em;

    .bid-price-text {
        grid-area: price-text;
    }

    .bid-price-value {
        grid-area: price-value;
    }

    .bid-qty-text {
        grid-area: qty-text;
    }

    .bid-qty-value {
        grid-area: qty-value;
    }
}