<form novalidate name="offer-form" [formGroup]="offerForm" (ngSubmit)="onSubmit()">
    <nb-card size="giant" accent="primary">
        <nb-card-header>Crează oferta ta, toate câmpurile sunt obligatorii !</nb-card-header>
        <nb-card-body>
            <div class="offer-form">
                <input type="text" nbInput status="basic" fullWidth placeholder="Denumirea ofertei" formControlName="product" [ngClass]="{'is-invalid': (offerForm.get('product').touched || offerForm.get('product').dirty) && ! offerForm.get('product').valid }">
                <nb-select fullWidth placeholder="Categoria" formControlName="cat_uuid" [ngClass]="{'is-invalid': (offerForm.get('cat_uuid').touched || offerForm.get('cat_uuid').dirty) && ! offerForm.get('cat_uuid').valid }">
                    <nb-option value="">Nicio categorie selectata</nb-option>
                    <nb-option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</nb-option>
                </nb-select>

                <div>
                    <input nbInput fullWidth placeholder="Data de expirare" [nbDatepicker]="datepicker" formControlName="end" [ngClass]="{'is-invalid': (offerForm.get('end').touched || offerForm.get('end').dirty) && ! offerForm.get('end').valid }">
                    <nb-datepicker #datepicker format="dd MMM yyyy"></nb-datepicker>
                </div>

                <input type="time" fullWidth nbInput status="basic" placeholder="Oră expirare" formControlName="time">

                <input type="text" class="wide-field" nbInput status="basic" fullWidth fieldSize="giant" placeholder="Descriere" formControlName="description" [ngClass]="{'is-invalid': (offerForm.get('description').touched || offerForm.get('description').dirty) && ! offerForm.get('description').valid }">
                <input type="number" nbInput status="basic" fullWidth placeholder="Preț de pornire" formControlName="price" [ngClass]="{'is-invalid': (offerForm.get('price').touched || offerForm.get('price').dirty) && ! offerForm.get('price').valid }">
                <input type="number" nbInput status="basic" fullWidth placeholder="Cantitatea ofertată" formControlName="quantity" [ngClass]="{'is-invalid': (offerForm.get('quantity').touched || offerForm.get('quantity').dirty) && ! offerForm.get('quantity').valid }">
                <input type="text" class="wide-field" nbInput status="basic" fullWidth placeholder="Link poza" formControlName="photoUrl" [ngClass]="{'is-invalid': (offerForm.get('photoUrl').touched || offerForm.get('photoUrl').dirty) && ! offerForm.get('photoUrl').valid }">

                <span class="wide-field" *ngIf="(offerForm.get('product').touched || offerForm.get('product').dirty) && offerForm.get('product').errors">* Denumirea ofertei trebuie să aibă între 5 și 50 de caractere</span>
                <span class="wide-field" *ngIf="(offerForm.get('cat_uuid').touched || offerForm.get('cat_uuid').dirty) && offerForm.get('cat_uuid').errors">* Categoria este obligatorie</span>
                <span class="wide-field" *ngIf="(offerForm.get('description').touched || offerForm.get('description').dirty) && offerForm.get('description').errors">* Descrierea ofertei trebuie să aibă între 5 și 100 de caractere</span>
                <span class="wide-field" *ngIf="(offerForm.get('end').touched || offerForm.get('end').dirty) && offerForm.get('end').errors">* Data de expirare trebuie să fie în viitor</span>
                <span class="wide-field" *ngIf="(offerForm.get('price').touched || offerForm.get('price').dirty) && offerForm.get('price').errors">* Prețul trebuie să fie între 1 și 99999</span>
                <span class="wide-field" *ngIf="(offerForm.get('quantity').touched || offerForm.get('quantity').dirty) && offerForm.get('quantity').errors">* Cantitatea oferită trebuie să fie între 1 și 9999</span>
                <span class="wide-field" *ngIf="(offerForm.get('photoUrl').touched || offerForm.get('photoUrl').dirty) && offerForm.get('photoUrl').errors">* Poza ofertie trebuie să fie un URL valid</span>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton size="medium" status="primary" type="submit" style="margin-right: 1em;" [disabled]="offerForm.invalid">Salvează</button>
            <button right nbButton outline size="medium" status="basic" (click)="onCancel()">Renunță</button>
        </nb-card-footer>
    </nb-card>
</form>
