.offer-form {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);

    .is-invalid {
        border-color: red;
    }

    .footer-button {
        margin-right: 1em;
    };

    .wide-field {
        grid-column: 1/span 2;
    };

    span {
        color: red;
    }
}