<nb-card size="large" accent="primary">
    <nb-card-header>Detalii despre {{ model?.product }}</nb-card-header>
    <nb-card-body>
        <div class="offer-detail">
            <div class="offer-detail-description">
                <span class="title">Descrierea produsului</span>
                <span>{{ model?.description }}</span>
            </div>
            <div class="offer-detail-price">
                <span class="title">Prețul de start</span>
                <span>{{ model?.price }}</span>
            </div>
            <div class="offer-detail-qty">
                <span class="title">Cantitatea oferită</span>
                <span>{{ model?.quantity }}</span>
            </div>
            <div class="offer-detail-photo">
                <img *ngIf="model" [src]="model?.photoUrl" alt="no-image">
            </div>
            <div class="offer-detail-bid">
                <button nbButton (click)="onBidClicked(model?.id)">Plasează o ofertă</button>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>Oferta expiră la {{ model?.end | date: 'dd MMM yyyy' }}, ora {{ model?.end | date: 'hh:mm' }}</nb-card-footer>
</nb-card>
