.offer-detail {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: 
    "description photo"
    "price photo"
    "qty photo"
    "bid bid";

    span.title {
        font-weight: bold;
        font-size: 1em;
        display:block;
        margin-bottom: 0.5em;
    }

    .offer-detail-description {
        grid-area: description;
    }

    .offer-detail-price {
        grid-area: price;
    }

    .offer-detail-qty {
        grid-area: qty;
    }

    .offer-detail-photo {
        grid-area: photo;
        align-self: center;
        justify-self: center;

        img {
            border-radius: 5%;
        }
    }

    .offer-detail-bid {
        grid-area: bid;
        align-self: center;
        justify-self: center;
    }
}

