<div class="header-container">
    <div class="logo-container">
        <a class="logo" href="#">uBid</a>
    </div>
</div>

<div class="header-container">
    <nb-actions size="small">
        <nb-action class="control-item">
            <nb-search type="rotate-layout" placeholder="Căutare" hint="Introduceți textul și apăsați ENTER"></nb-search>
        </nb-action>
        <nb-action *ngIf="isAuthenticated" icon="gift" nbTooltip="Crează o ofertă nouă" nbTooltipStatus="primary" [link]="['/offers', 'create']"></nb-action>
        <nb-action *ngIf="isAuthenticated">
            <nb-user *ngIf="token$ | async as token" [name]="token.getPayload()?.email" [nbContextMenu]="items" nbContextMenuTag="user-ctx"></nb-user>
        </nb-action>
        <nb-action *ngIf="! isAuthenticated" icon="person-outline" [link]="['/auth', 'login']"></nb-action>
        <!-- <nb-action *ngIf="! isAuthenticated" icon="person-outline" (click)="onLogin()"></nb-action> -->
    </nb-actions>
</div>