@import '../../../themes.scss';

::ng-deep nb-search button {
    padding: 0!important;
}

.header-container {
    display: flex;
    align-items: center;
    width: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
}

.logo {
    padding: 0 1.25rem;
    font-size: 1.75rem;
    @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
    @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
    white-space: nowrap;
    text-decoration: none;
}

nb-action {
    height: auto;
    display: flex;
    align-content: center;
}

nb-user {
    cursor: pointer;
}
