<div class="container">
    <span class="expire-title">Expiră în curând</span>
    <div *ngFor="let offer of expiringOffers$ | async; let i = index" class="expire-offer">
        <app-offer-card [offer]=offer [view]="'expiring'"></app-offer-card>
    </div>
</div>