@import '../../../themes.scss';

.container {
    margin-top: 20px;

    .expire-offer {
        max-width: 164px;
        height: 320px;
        float: left;
        margin-left: 10px;
    }

    .expire-title {
        display: block;
        margin-bottom: 10px;
        color: nb-theme(color-primary-300);
        font-size: 1.5rem;
    }

    div.expire-offer:nth-child(odd) > app-offer-card {
        background-position-x: left;
    }

    div.expire-offer:nth-child(even) > app-offer-card {
        background-position-x: right;
    }
}