<nb-card status="primary">
    <nb-card-header>{{ offers?.title }}</nb-card-header>
    <div [nbSpinner]="loadingPrevious"></div>
    <nb-list nbInfiniteList
            listenWindowScroll
            [threshold]="500"
            (topThreshold)="loadPrevious()"
            (bottomThreshold)="loadNext()"
            nbListPageTracker
            [pageSize]="pageSize"
            [startPage]="startPage" >
        <nb-list-item *ngFor="let offer of offers?.values">
            <app-offer-card [offer]="offer" [view]="'details'"></app-offer-card>
        </nb-list-item>
    </nb-list>
</nb-card>