<nb-card size="giant" accent="primary">
    <nb-card-body>
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Ofertele mele">
                <app-profile-offers 
                    [myOffers]="myOffers$ | async">
                </app-profile-offers>
            </nb-tab>
            <nb-tab tabTitle="Bid-urile mele">
                <app-profile-bids
                    [myBids]="myBids$ | async">
                </app-profile-bids>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>