<nb-card accent="primary">
    <nb-card-body>
        Pentru a putea plasa oferte, sau a putea participa la licitații, trebuie să beneficiați de un cont de utilizator valid. Înregistrarea se face exclusiv telefonic.
    </nb-card-body>
</nb-card>
