<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column class="side-column"></nb-layout-column>
  <nb-layout-column class="content-column">
    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
  <nb-layout-column class="side-column"></nb-layout-column>
  <nb-layout-footer fixed>
  </nb-layout-footer>
</nb-layout>
