<div>
    <nb-card size="tiny" *ngFor="let offer of myOffers" accent="primary">
        <nb-card-header>{{ offer.product }}</nb-card-header>
        <nb-card-body>
            <div class="offer-container">
                <span>Descriere: {{ offer.description }}</span>
                <span>Preț de start: {{ offer.price }} lei</span>
                <span>Cantitatea oferită: {{ offer.quantity }}</span>
                <span *ngIf="offer.bidsCount">Număr de biduri: {{ offer.bidsCount }}</span>
                <span *ngIf="offer.maxPrice">Preț maxim oferit:{{ offer.maxPrice }}</span>
                <span *ngIf="offer.bidsValue">Valoare totală biduri:{{ offer.bidsValue }}</span>
            </div>
        </nb-card-body>
    </nb-card>
</div>
