<div class="container">
    <span class="latest-text">Prinde ultimele oferte !</span>
    <div class="carousel" #carousel>
        <div *ngFor="let offer of latestOffers$ | async; let i = index" [ngClass]="'item-' + i">
            <app-offer-card [offer]=offer [view]="'latest'"></app-offer-card>
        </div>
    </div>
</div>