  @import '../../../themes.scss';
  
  $baseClassName: "item";

  .container {
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;

    .latest-text {
      display: block;
      font-size: 1.5rem;
      color: nb-theme(color-primary-300);
      margin-left: -150px;
      padding-bottom: 30px;
    }
  }
  
  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .item {
    display: block;
    position: absolute;
    background: nb-theme(color-primary-300);
    width: 250px;
    height: 200px;
    text-align: left;
    opacity: 0.95;
    border-radius: 10px;
    font-size: 10px;
  }

  @for $itemNo from 0 to 6 {
    .#{$baseClassName}-#{$itemNo} {
      @extend .item;
      transform: rotateY(#{$itemNo * 60}deg) translateZ(250px);
    }
  }
