<div class="card-row">
    <div class="card-col">
        <app-category-menu></app-category-menu>
    </div>
    <div class="card-col">
        <app-carousel [latestOffers$]=latest$ ></app-carousel>
    </div>
</div>
<app-middle-content></app-middle-content>
<app-about-to-expire [expiringOffers$]=expiring$></app-about-to-expire>
