<div>
    <nb-card size="tiny" *ngFor="let bid of myBids" accent="primary">
        <nb-card-header>Bid pentru {{ bid.offer.product }}</nb-card-header>
        <nb-card-body>
            <div class="bid-container">
                <span>Preț oferit: {{ bid.price }} lei</span>
                <span>Cantitate cerută: {{ bid.qty }} buc</span>
            </div>
        </nb-card-body>
    </nb-card>
</div>
