<ng-template [ngIf]="view === 'latest'">
    <div class="latest-offer">
        <p class="latest-offer-title">{{ offer.title }}</p>
        <a class="latest-offer-link" [routerLink]="['/offers', 'details', offer.id]">
            <img [src]="offer.photoUrl" alt="no-image">
        </a>
        <span class="latest-offer-description">{{ offer.description }}</span>
        <span class="latest-offer-price">Preț de la {{ offer.price }} lei</span>
        <span class="latest-offer-end-day">Licitează până la {{ offer.end | date: 'dd MMM yyyy' }}, ora {{ offer.end | date: 'hh:mm' }}</span>
    </div>
</ng-template>


<ng-template [ngIf]="view === 'expiring'">
    <nb-card class="expiring-offer" [routerLink]="['/offers', 'details', offer.id]" size="small">
        <nb-card-header style="position: relative; font-size: 0.8rem" nbTooltip="{{ offer.title }}" nbTooltipStatus="primary" nbButton status="primary">{{ offer.title | ellipsis: 16 }}
            <nb-badge text="De la {{offer.price}} lei" status="danger" position="top left"></nb-badge>
        </nb-card-header>
        <nb-card-body class="expiring-offer-body" >
            <img [src]="offer.photoUrl" alt="no-image">
            <div class="expiring-offer-body-end">
                <span>Expiră la {{ offer.end | date: 'dd MMM yyyy' }}, ora {{ offer.end | date: 'hh:mm' }}</span>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton size="tiny">Află detalii</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template [ngIf]="view === 'details'">
    <nb-card class="detail-offer" size="tiny">
        <nb-card-header style="position: relative; font-size: 0.8rem" >{{ offer.title | ellipsis: 40 }}
            <nb-badge text="De la {{offer.price}} lei" status="danger" position="top left"></nb-badge>
        </nb-card-header>
        <nb-card-body class="detail-offer-body" >
            <img [src]="offer.photoUrl" alt="no-image">
            <div class="detail-offer-body-end">
                <span>Expiră la {{ offer.end | date: 'dd MMM yyyy' }}, ora {{ offer.end | date: 'hh:mm' }}</span>
            </div>
        </nb-card-body>
        <nb-card-footer class="detail-offer-footer">
            <button nbButton size="tiny" [routerLink]="['/offers', 'details', offer.id]" >Află detalii</button>
            <nb-icon [routerLink]="['/bids', 'create', offer.id]" icon="auction" pack="ubid-app" nbTooltip="Licitează acum" nbTooltipStatus="primary" nbButton status="primary"></nb-icon>
        </nb-card-footer>
    </nb-card>
</ng-template>
