@import '../../../themes.scss';

.latest-offer {
  display: grid;
  padding-left: 0.5em;
  padding-right: 0.5em;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 25% auto auto 15%;
  grid-gap: 0.5em 0.5em;
  justify-items: center;

  grid-template-areas: 
    'title title'
    'image details'
    'image price'
    'end end';
  }

  .latest-offer-title {
    grid-area: title;
    color: nb-theme(color-primary-900);
    font-weight: bold;
    font-size: small;
  }

  .latest-offer-link {
    grid-area: image;

    img {
      max-height: 10em;
      border-radius: 20%;
    }
  }

  .latest-offer-description {
      grid-area: details;
      color: nb-theme(color-info-900);
      display: block;
    }

  .latest-offer-price {
      grid-area: price;
      justify-self: start;
      font-size: larger;
      color: nb-theme(color-danger-900);
      display: block;
    }

  .latest-offer-end-day {
    grid-area: end;
    font-size: larger;
    color: nb-theme(text-primary-focus-color);
  }

  .expiring-offer, .detail-offer > button {
    &:hover {
      cursor: pointer;
    }
  }

  .expiring-offer {
    background-image: url('../../../assets/exclamation.png');
    background-size: cover;
    background-position-x: inherit;
  }

  .expiring-offer-body, .detail-offer-body {
    display: grid;

    img {
      grid-area: image;
    }

    .expiring-offer-body-end, .detail-offer-body-end {
      font-weight: bolder;
      font-size: small;
    }
  }

  .expiring-offer-body {
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    'image'
    'expiration';

    img {
      border-radius: 50%;
      max-height: 8em;
    }
  }

  .detail-offer-body {
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
    'image expiration';

    img {
      border-radius: 10%;
      max-height: 4.5em;
    }
  }

  .detail-offer-footer {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: right;
  }
